<header class="headerC">
  <div id='headerP'>
    <div id='headerText'>
      <h2 class='headerTitle'>Ejercicio3 bisbis</h2>
      <h2 class='headerTitle'>Desarrollo de Aplicaciones</h2>
      <h2 class='headerTitle'>~Pio IX 2020~</h2>
  </div>
    <div id='headerImg'>
      <img id='imgNicos' src="img/faconymash.png">
    </div>
  </div>
  
</header>