<h3>El que menos dinero tiene es:</h3>
<h4 id="menor">{{minimoNombre}} {{minimoApellido}}</h4>
<script>
  let cliente = document.getElementById("menor").textContent;
  console.log("El Servidor nos mandó al cliente con menos plata del banco: ", cliente);
</script>