<h3>El que más dinero tiene es:</h3>
<h4 id="ricachon">{{mayorNombre}} {{mayorApellido}}</h4>
<script>
  let cliente = document.getElementById("ricachon").textContent;
  console.log("El Servidor nos mandó al cliente ricachón: ", cliente);
</script>